<h2>Products in Cart</h2>
{{#if products.[0]}}
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
        {{#each products}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.product.title}}</td>
                <td>{{this.product.price}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
<h2>There are not products</h2>
{{/if}}

{{#if hasPrevPage}}
<a href="/?page={{prevPage}}"><button> Prev</button></a>
{{/if}}

<p>{{page}}</p>

{{#if hasNextPage}}
<a href="/?page={{nextPage}}"><button>Next</button></a>
{{/if}}
<script></script>
