<div class="header">

        <h1>Bienvenido {{{user.name}}}</h1>

        <div class="register-login-logout">             

                {{#if user}}
                        <button id="profile-btn" class="header-btn">Perfil</button>
                        <p style="font-size: larger;">|</p>
                        <button id="logout-btn" class="header-btn">Cerrar sesion</button> 
                        <p style="font-size: larger;">|</p>                       
                        <a href="/carts/{{user.cart}}"><button id="cart-btn" class="header-btn">Carrito</button></a>
                {{else}}
                        <button id="login-btn" class="header-btn">Inicia sesion</button>
                        <button id="register-btn" class="header-btn">Registrate</button>
                {{/if}}
        </div>
        
</div>

<div class="contenedor">


        <div class="cards-contenedor">
                        
                 {{#if prod}}
                {{#each prod}}
                 <div class="cards">
                        <a href="/products/{{this._id}}" style="color: black; text-decoration:none">
                                <h2>{{this.title}}</h2>
                                <td><img src="/uploads/{{this.thumbnails}}" alt="Image" width="50"></td>
                                <p>Precio: ${{this.price}}</p>
                                <p>Stock: {{this.stock}}</p>
                                <button class="btn btn-info">Agregar al carrito</button>
                        </a>
                </div>
                                
                {{/each}}
                {{else}}
                <p>No se encontraron productos</p>
                {{/if}}
                        
        </div>

        <div class="paginate">

                {{#if hasPrevPage}}
                <a href="/?page={{prevPage}}"><button>Pagina Previa</button></a>
                {{/if}}

                        <p class="page">{{page}}</p>

                {{#if hasNextPage}}
                <a href="/?page={{nextPage}}"><button>Pagina Siguiente</button></a>
                {{/if}}       
        </div>
</div>

<script src="/js/home.js"></script>