<div class="header">
        <h1>Welcome {{{user.name}}}</h1>
        <button id="logout-btn">Exit</button>

        {{#if user}}
        <h1>Welcome {{{user.email}}}</h1>
        <button id="logout-btn">Exit</button>
                
        {{/if}}

</div>

<h2>Products</h2>
{{#if products.[0]}}
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
        {{#each products}}
            <tr>

                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img src="/uploads/{{this.thumbnails}}" alt="Image" width="50"></td>
                <td><a href="/products/{{this._id}}">Details</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
<h2>There are not products</h2>
{{/if}}

{{#if hasPrevPage}}
<a href="/?page={{prevPage}}"><button> Prev</button></a>
{{/if}}

<p>{{page}}</p>

{{#if hasNextPage}}
<a href="/?page={{nextPage}}"><button>Next</button></a>
{{/if}}
<script src="/js/index.js"></script>
<style>
  #logout-btn {
    background-color: red;
    width: 10%;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: none;
    transition: 0.5s;
    height: 50px;
    margin: 10px;
}
</style>